<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Messaging Site - <%= title || 'Messaging site' %>
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <style>
        .chat-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .message.me {
            align-self: flex-end;
            background: #007bff;
            color: white;
            padding: 10px;
            border-radius: 10px 10px 10px 0;
            max-width: 60%;
        }

        .message.other {
            align-self: flex-start;
            background: #bbbbbb;
            padding: 10px;
            border-radius: 10px 10px 0 10px;
            max-width: 60%;
        }

        .message-footer small {
            font-size: 0.75em;
            color: #eeeeee;
            display: block;
            margin-top: 4px;
        }
    </style>

</head>

<body>
    <div class="d-flex justify-content-center gap-2 p-2">
        <a href="/users/home" class="btn btn-primary">Home</a>
        <a href="/users/friends" class="btn btn-primary">Friends</a>
        <a href="/users/about" class="btn btn-primary">About</a>

    </div>

    <%- body %>

</body>

<script>

</script>

</html>
