<% layout='layout' %>
    <% title='All users' %>
        <!-- Lists all users the person who enters does not have a friend request with -->

        <div>
            <p>
                <% if (users && users.length> 0) { %>
                    <h2>All users:</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Real Name</th>
                                <!-- <th>Send Friend Request</th> -->
                            </tr>
                        </thead>

                        <% users.forEach(user=> { %>
                            <tr>
                                <td>
                                    <%=user.username %>
                                </td>
                                <td>
                                    <%=user.firstName%>
                                        <%=user.lastName%>
                                </td>

                                <td>
                                    <form action="/friends/<%= user.id %>" method="POST" style="display:inline;">
                                        <input type="hidden" name="redirect" value="all">
                                        <button type="submit" class="btn btn-primary">Send Friend Request</button>
                                    </form>
                                </td>

                            </tr>

                            <%})%>
                    </table>
                    <%} else { %>
                        <h2>Looks like you're friends with everyone!!</h2>
                        <h6>... or you're blocked by everyone :)</h6>
                        <%}%>
            </p>
